<ion-header>
  <ion-navbar color="energy">
    <ion-title>Regístrese</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding color="myBackground">
  <ion-card center>
    <ion-card-header>Datos del Usuario</ion-card-header>
    <ion-card-content>
      <form ion-grid>
        <ion-list ion-row>
          <ion-item ion-col col-12>
            <ion-input type="text" placeholder="Nombres"></ion-input>
          </ion-item>
          <ion-item ion-col col-12>
            <ion-input type="text" placeholder="Apellidos"></ion-input>
          </ion-item>
        <ion-item ion-col col-12>
          <ion-label>Ciudad</ion-label>
          <ion-select>
            <ion-option *ngFor="let ciudad of ciudades">{{ciudad.nombre_ciudad}}</ion-option>
          </ion-select>
        </ion-item>
      <ion-item ion-col col-12 >
          <ion-label >Localidad</ion-label>
          <ion-select >
            <ion-option *ngFor="let localidad of localidades">{{localidad.nombre_localidad}}</ion-option>
          </ion-select>
      </ion-item>
          <ion-item ion-col col-6>
            <ion-label >Masculiono</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
          <ion-item ion-col col-6>
            <ion-label>Femenino</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
          <ion-item ion-col col-12>
            <ion-input type="email" placeholder="Correo"></ion-input>
          </ion-item>
          <ion-item ion-col col-12>
            <ion-input type="email" placeholder="Confirmar Correo"></ion-input>
          </ion-item>
          <ion-item ion-col col-12>
            <ion-input type="email" placeholder="Usuario"></ion-input>
          </ion-item>
          <ion-item ion-col col-12>
            <ion-input type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
          <ion-item ion-col col-12>
            <ion-input type="password" placeholder="Confirmar Contraseña"></ion-input>
          </ion-item>
          <ion-item ion-col col-6>
            <ion-input type="password" placeholder="Estatura"></ion-input>
          </ion-item>
          <ion-item ion-col col-6>
            <ion-input type="password" placeholder="Peso"></ion-input>
          </ion-item>
        </ion-list>
        <div padding>
          <button ion-button block color="energy" (click)="registrarse()" round>Regitrarse</button>
        </div>
        <div padding>
          <button ion-button block color="energy" (click)="cancelar()" round>Cancelar</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>