page-welcome {

    .bg-img{
         background-image: url('../assets/imgs/bienvenida/welcome.jpg');
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
         
    }
    .no-scroll .scroll-content{

        overflow: hidden;
    }

}
